@use "../../sass/index.scss" as *;
.container {
	@include container;
}

.grid {
	@include container;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(388px, auto));
	gap: px-to-rem(12px);
	margin-top: px-to-rem(76px);
	padding-inline: px-to-rem(16px);
	place-items: center;

	justify-content: center;
	padding-bottom: px-to-rem(42px);
}

.heading {
	@include container;
	text-align: center;
	color: map-get($colors, greyHeading);
	padding-top: px-to-rem(90px);

	@include custom-media-query("mobile", 408px) {
		font-size: px-to-rem(24px);
		padding-top: px-to-rem(50px);
	}
}

.search {
	display: flex;
	@include container;
	justify-content: space-between;
	margin-top: px-to-rem(40px);
	align-items: center;
	padding-inline: px-to-rem(16px);
	gap: px-to-rem(16px);

	@include custom-media-query("mobile", map-get($breakpoints, md)) {
		flex-wrap: wrap;
	}
	&_filter {
		display: flex;
	}
}

.searchInput {
	flex-basis: px-to-rem(560px);
	padding: px-to-rem(12px) px-to-rem(16px);
	border-radius: px-to-rem(8px);
	border: 2px solid #d9d9d9;
	background: #fff;
}

.empty {
	text-align: center;
	display: flex;
	flex-direction: column;
	padding-inline: px-to-rem(16px);

	@include custom-media-query("mobile", 408px) {
		width: px-to-rem(352px);
		h4 {
			font-size: px-to-rem(16px);
		}
		p {
			font-size: px-to-rem(12px);
		}
	}
	h4 {
		font-size: px-to-rem(32px);
	}

	p {
		color: map-get($colors, greyHeading);
		&:nth-of-type(1) {
			margin-top: px-to-rem(20px);
		}
	}
}

.logout {
	cursor: pointer;
	padding: px-to-rem(12px) px-to-rem(16px);
	border-radius: 14px;
	border: none;
}
